body{
    margin: 0;
    background-color:darkslategray;
    overflow: scroll;
}

header{
    background-color:rgba(0,0,0,.20);
    width: 80%;
    height: 120px;
    margin:auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    padding: 7px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 180px;
    height: 140px;
    margin-left: 15px;
    display: flex;
    margin-top: -14px;
}

header ul{
    display: flex;
    margin-left: -57px;
    margin-top: 40px;
    margin-right: 10px;
}

header li{
    list-style: none;
    font-size: 24px;
    margin-left: 50px;
}

.conteudo{
    background-color: rgba(0,0,0,.20);
    width: 83%;
    height: 800px;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
}

.poster{
    width: 210px;
    height: 300px;
    margin-left: 15px;
    display: flex;
    margin-top: -14px;
}